* {
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 1040px;

  nav {
    background-color: #313131;
    color: #fff;
    font-size: 14px;
    padding: 2px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      font-size: 18px;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;

      &.active,
      &:hover {
        opacity: 0.65;
      }
    }
  }
}

.subnav {
  padding: 15px 0;
  background-color: #fafafa;
  width: 100%;
}
