.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  p {
    color: #333;
    margin-bottom: 0;
    margin-top: 5px;
  }

  &:hover {
    p {
      color: #1186c3;
    }
  }
}

.subnav {
  background-color: #fafafa;
  max-width: 900px;
  margin: auto;
  align-items: baseline;
}
